* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Ranchers', cursive;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  position: relative;
  width: 800px;
  height: 800px;
}

.marker::before {
  content: "";
  background-color: rgb(216, 149, 24);
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -10px;
  border:1px solid rgb(247, 188, 78);
  border-radius: 20px;
  height: 90px;
  width: 20px;
  z-index: 3;
}

.spinner {
  background-color: rgb(233, 196, 95);
  border: 50px solid rgb(173, 8, 8);
  border-radius: 50%;
  position: relative;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.spinner::before {
  content: "";
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  z-index: 1;
}

@keyframes flash1 {
  0% {
    background-color: rgb(156, 102, 0);
  }

  100% {
    background-color: rgb(255, 192, 75);
  }
}

@keyframes flash2 {
  0% {
    background-color: rgb(255, 192, 75);
  }

  100% {
    background-color: rgb(156, 102, 0);
  }
}

.bulb {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  z-index: 3;
  animation: 1s ease-in-out flash1 infinite;
}

.bulb-container:nth-child(odd) .bulb {
  animation: 1s ease-in-out flash2 infinite;
}

.name {
  font-size: 60px;
  position: absolute;
  top: 45%;
  transform-origin: 100%;
  width: 48%;
}

.button {
  background-color: rgb(255, 192, 75);
  border: 4px solid rgb(156, 102, 0);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-top: 50px;
  font-size: 30px;
  height: 50px;
  width: 200px;
}

.button:hover {
  background-color: rgb(156, 102, 0);
  color: #fff;
}
