* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Ranchers', cursive;
}

main {
  display: grid;
  height: 100vh;
  position: relative;
}

.container {
  place-self: center;
  width: 500px;
  height: 500px;
  position: relative;
}

.marker::before {
  content: "";
  width: 20px;
  background-color: rgb(216, 149, 24);
  height: 90px;
  position: absolute;
  top: -15px;
  left: 50%;
  z-index: 1;
  border-radius: 20px;
  border:1px solid rgb(247, 188, 78);
}

.spinner {
  width: 100%;
  height: 100%;
  place-self: center;
  background-color: rgb(233, 196, 95);
  border-radius: 50%;
  position: relative;
  padding: 10px;
  border: 50px solid rgb(173, 8, 8);
}

.spinner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  background-color: black;
  z-index: 1;
}

@keyframes flash1 {
  0% {
    background-color: rgb(156, 102, 0);
  }

  100% {
    background-color: rgb(255, 192, 75);
  }
}

@keyframes flash2 {
  0% {
    background-color: rgb(255, 192, 75);
  }

  100% {
    background-color: rgb(156, 102, 0);
  }
}

.bulb {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: 3;
  animation: 1s ease-in-out flash1 infinite;
}

.bulb-container:nth-child(odd) .bulb {
  animation: 1s ease-in-out flash2 infinite;
}

.name {
  position: absolute;
  top: 45%;
  font-size: 40px;
  transform-origin: 100%;
  width: 48%;
}

button {
  width: 100px;
  height: 50px;
  place-self: center;
}